{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{{"user_guide"|trans}}
{% endblock %}

{% block container %}container text{% endblock %}

{% block body %}
  <div class="row">
    <div class="col">
      {% include 'edito/guide/manual.html' %}    
    </div>
  </div>
{% endblock %}
