<!doctype html>
<html lang="fr" id="top">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" href="{{ asset("img/favicon-32x32.png") }}" />
        <title>{% block title %}Corr-Proust - {% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {{ encore_entry_script_tags('global') }}
        {% endblock %}

        <!-- Matomo -->
        <script type="text/javascript">
          var _paq = window._paq = window._paq || [];
          _paq.push(['trackPageView']);
          _paq.push(['enableLinkTracking']);
          (function() {
            var u="//matamo.demarre-shs.fr/";
            _paq.push(['setTrackerUrl', u+'matomo.php']);
            _paq.push(['setSiteId', '4']);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.type='text/javascript'; g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
          })();
        </script>
        <!-- End Matomo Code -->
    </head>
    <body class="{{ instance }}">
      <div class="container-fluid">
      {% block navbar %}
        {% include('includes/navbar.html.twig') with {'direction': 'down'} %}
      {% endblock %}
      </div>
      <div id="main-container" class="{% block container %}container-fluid{% endblock %}">
        {% include('includes/flash-messages.html.twig') %}
        {% block body %}{% endblock %}
      </div>
      {% block footer %}
        {% include('includes/footer.html.twig') %}
      {% endblock %}
    </body>
</html>
