{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Connexion{% endblock %}

{% block container %}container{% endblock %}

{% block body %}
  <div class="row">
    <div class="col">
      <h1>{{"login"|trans}}</h1>
        <form method="post" class="row g-3">
          {% if error %}
            <div class="alert alert-danger">{{ error.messageKey |trans(error.messageData, 'security') }}</div>
          {% endif %}
          <div class="col-12">
              <label for="inputEmail">{{"email"|trans}}</label>
              <input type="email" name="email" id="inputEmail" class="form-control" required autofocus>
          </div>
          <div class="col-12">
              <label for="inputPassword">{{"password"|trans}}</label>
              <input type="password" name="password" id="inputPassword" class="form-control" required>
          </div>
          <div class="form-check mb-3">
              <label>
                  <input type="checkbox" name="_remember_me" class="form-check-input"> {{"remember_me"|trans}}
              </label>
          </div>
          <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
          <div class="col-12">
              <button class="btn btn-lg btn-blue" type="submit">
              {{"login"|trans}}
              </button>
          </div>
      </form>
    </div>
  </div>
{% endblock %}
