{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Utilisateurs{% endblock %}

{% block container %}container{% endblock %}

{% block body %}
<div class="row">
  <div class="col">
    <h1>
      <span class="md-48 material-icons">group</span>
      Utilisateurs
    </h1>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">{{"username"|trans}}</th>
          <th scope="col">{{"user_mail"|trans}}</th>
          <th scope="col">{{"user_role"|trans}}</th>
          <th scope="col">{{"actions"|trans}}</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
            <tr>
              <td>
                {{user.nickname}}
              </td>
              <td>
                {{user.email}}
              </td>
              <td>
                {% for role in user.roles %}
                  {% if role != "ROLE_USER" %}
                    <span class="badge bg-{{ role == 'ROLE_SUPER_ADMIN' ? 'danger' : 'warning' }}">{{ role | trans }}</span>
                  {% endif %}
                {% endfor %}
              </td>
              <td>
                <a class="btn btn-sm btn-danger " href="{{path('app_user_remove', {'id':user.id})}}">
                  <i class="md-18 material-icons">delete</i>
                </a>
                <button class="btn btn-sm btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  Assigner un rôle
                </button>
                <ul class="dropdown-menu dropdown-menu-start" aria-labelledby="dropdownMenuButton1">
                  <li>
                    <a class="dropdown-item" href="{{path('admin_set_role',{'id':user.id, 'role':"ROLE_USER"})}}">{{"ROLE_USER"|trans}}</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="{{path('admin_set_role',{'id':user.id, 'role':"ROLE_ADMIN"})}}">{{"ROLE_ADMIN"|trans}}</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="{{path('admin_set_role',{'id':user.id, 'role':"ROLE_SUPER_ADMIN"})}}">{{"ROLE_SUPER_ADMIN"|trans}}</a>
                  </li>
                </ul>
              </td>
            </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>
</div>
{% endblock %}
