{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{{"playground"|trans}}
{% endblock %}

{% block container %}container{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  {{ encore_entry_link_tags('playground') }}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="https://unpkg.com/vue@3"></script>
  {{ encore_entry_script_tags('playground') }}
{% endblock %}

{% block body %}
  <div class="row" id="app" data-json="{{json|escape('html_attr')}}">
    <h1>{{"visualisations"|trans}}</h1>
    <div class="col-2">
      <div id="filters">
      de <input @change="changeFilters()" type="number" v-model="dateFrom"/><br/>
      à <input @change="changeFilters()" type="number" v-model="dateTo"/>

      <hr/>
      min Letters (total): <input @change="changeFilters()" type="number" v-model="minLettersTotal"/>

      <hr/>
      min Letters (par an): <input @change="changeFilters()" type="number" v-model="minLettersByYear"/>
      max Letters (par an): <input @change="changeFilters()" type="number" v-model="maxLettersByYear"/>

      <hr/>
      <div>
        <input @change="changeFilters()" type="radio" value="all" v-model="letterSender" />
        <label for="one">Toutes</label> <br/>
        <input @change="changeFilters()" type="radio" value="from_proust" v-model="letterSender" />
        <label for="one">de Proust</label><br/>
        <input @change="changeFilters()" type="radio" value="to_proust" v-model="letterSender" />
        <label for="two">à Proust</label>
      </div>

      <hr/>

      <button id="collapsePeopleBtn" class="btn btn-sm btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePeople" aria-expanded="false" aria-controls="collapseExample">
        Personnes
      </button>

      <div class="collapse pt-2" id="collapsePeople">
        <input type="text" v-model="searchText" />
        <div v-for="person in matchingPpl">
            <input @change="changeFilters()" type="checkbox" :value="person" v-model="checkedPeople"/>
            &nbsp;<label>${person}</label> <br/>
        </div>
      </div>
      </div>
    </div>

    <div class="col-10">
      <div id="chart4-container">
        <canvas id="myChart4"></canvas>
      </div>
      <hr class="mt-4 mb-4"/>
      <div id="cy"></div>
      <hr class="mt-4 mb-4"/>
      <div id="chart3-container">
        <canvas id="myChart3"></canvas>
      </div>
      <!-- <hr class="mt-4 mb-4"/> -->
      <!-- <div id="chart2-container">
        <canvas id="myChart2"></canvas>
      <div> -->
      <hr class="mt-4 mb-4"/>
      <canvas id="myChart"></canvas>
    </div>
  </div>
</div>
{% endblock %}

{% block footer %}{% endblock %}
