{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{{title|trans}}{% endblock %}

{% block container %}container{% endblock %}

{% block body %}
  <div class="row">
    <div class="col">
      <h1>{{title|trans}}</h1>
      <div class="p-2 text-justify">
      {{ form(form) }}
      </div>
    </div>
  </div>
{% endblock %}
