{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Cache{% endblock %}

{% block container %}container{% endblock %}

{% block body %}
<div class="row">
  <div class="col">
    <h1>{{"uiuc_cache_manage"|trans}}</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Clé</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
        {% for person in cachePersons %}
            <tr>
                <td>{{person.name}}</td>
                <td>
                    <span class="btn btn-sm btn-primary person-popover" data-bs-container="body" data-bs-toggle="popover" data-bs-content="..." data-bs-trigger="hover focus" data-bs-html="true" data-bs-custom-class="custom-popover" data-key="{{person.name}}">
                        Voir
                    </span>
                    <a href="{{path("person_cache_update", {'id': person.id})}}" class="btn btn-sm btn-secondary">
                        Recharger
                    </a>
                </td>
            </tr>
        {% endfor %}
        <tbody>
    </table>
  </div>
</div>
{% endblock %}
