{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{{"edito_politic"|trans}}
{% endblock %}

{% block container %}container text{% endblock %}

{% block body %}
  <div class="row">
    <div class="col">
      <h1>{{"edito_politic"|trans}}</h1>
      {{content|raw}}
    </div>
  </div>
{% endblock %}
