{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{{"the_team"|trans}}
{% endblock %}

{% block container %}container text{% endblock %}

{% block body %}
  <div class="row">
    <div class="col">
      <h1>{{"the_team"|trans}}</h1>
        {{content|raw}}
    </div>
  </div>
{% endblock %}
