{% set logos =[
  {'text': 'University of Illinois at Urbana-Champaign', 'img': 'Illinois-Logo-Full-Color-CMYK.png', 'link': 'http://illinois.edu/'},
  {'text': 'Université Grenoble Alpes', 'img': 'logo_univ_grenoble_alpes.jpg', 'link': 'https://www.univ-grenoble-alpes.fr/'},
  {'text': 'Centre national de la recherche scientifique', 'img': 'cnrs.svg', 'link': 'https://www.cnrs.fr/'},
  {'text': 'UMR Litt&Arts', 'img': 'logo-littarts.jpg', 'link': 'http://litt-arts.univ-grenoble-alpes.fr/'},
  {'text': 'ELAN, l\'Élan littératures et arts numériques de Litt&Arts', 'img': 'logo_elan.png', 'link': 'https://carre.elan-numerique.fr/'},
  {'text': 'Ecole normale supérieure', 'img': 'ens_logo.png', 'link': 'http://www.ens.fr/'},
  {'text': 'Institut des textes et des manuscrits modernes', 'img': 'officiel_v2test_coupe.png', 'link': 'http://www.item.ens.fr/'},
  {'text': 'Agence Nationale de la Recherche', 'img': 'anr.jpg', 'link': 'https://anr.fr/'},
] %}

<div id="logos">
    <!-- <a class="logo" target="_blank" href="https://twitter.com/intent/tweet?url={{ app.request.uri }}&hashtags=proust,corrproust">
      <img src="{{ asset("img/twitter.png") }}"/>
    </a> -->
      {% for logo in logos %}
      <a class="logo" target="_blank" href="{{logo.link}}">
        <img alt="logo {{ logo.text }}" data-placement="top" data-trigger="hover" data-toggle="popover" data-content="{{ logo.text }}" src="{{ asset("./img/logos/" ~ logo.img) }}"/>
      </a>
      {% endfor %}
</div>
