<div id="secondary-navbar" class="navbar navbar-expand-md navbar-light">
  <div class="collapse navbar-collapse justify-content-center" id="navbarToggleExternalContent">
     <ul class="navbar-nav flex-wrap justify-content-center">

        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{{path("homepage")}}">{{"homepage"|trans}}</a>
        </li>

        <li class="nav-item drop{{direction}}">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown-letters" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{"letters"|trans}}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown-letters">
            <li><a class="dropdown-item" href="{{path("letters")}}">{{"all_letters"|trans}}</a></li>
            <li><a class="dropdown-item" href="{{path("random-letter")}}">{{"random_letter"|trans}}</a></li>
            <li><a class="dropdown-item" href="{{path("search")}}">{{"search"|trans}}</a></li>
            {% if is_granted('ROLE_ADMIN') %}
            <li><a class="dropdown-item" href="{{path("visualisations")}}">{{"visualisations"|trans}}</a></li>
            {% endif %}
          </ul>
        </li>

        <li class="nav-item drop{{direction}}">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown-presentation" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{"presentation"|trans}}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown-presentation">
            <li><a class="dropdown-item" href="{{path("project")}}">{{"the_project"|trans}}</a></li>
            <li><a class="dropdown-item" href="{{path("team")}}">{{"the_team"|trans}}</a></li>
            <li><a class="dropdown-item" href="{{path("edito_politic")}}">{{"edito_politic"|trans}}</a></li>
            <li><a class="dropdown-item" href="{{path("technic")}}">{{"technic"|trans}}</a></li>
          </ul>
        </li>

        <li class="nav-item drop{{direction}}">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown-abbrevations" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{"guides"|trans}}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown-abbrevations">
            <li><a class="dropdown-item" href="{{path("how_to_cite")}}">{{"how_to_cite"|trans}}</a></li>
            <li><a class="dropdown-item" href="{{path("user_guide")}}">{{"user_guide"|trans}}</a></li>
            <li><a class="dropdown-item" href="{{path("abbreviations")}}">{{"abbreviations"|trans}}</a></li>
            <li><a class="dropdown-item" href="{{path("bibliography")}}">{{"bibliography"|trans}}</a></li>
            {% if instance == "preprod" %}
            <li><a class="dropdown-item" href="{{path("encoding_manual")}}">{{"encoding_manual"|trans}}</a></li>
            {% endif %}
          </ul>
        </li>

        <li class="nav-item drop{{direction}}">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown-partners" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{"partners"|trans}}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown-partners">
            <li><a class="dropdown-item" href="{{path("consortium")}}">{{"consortium"|trans}}</a></li>
            <li><a class="dropdown-item" href="{{path("sponsors")}}">{{"sponsors"|trans}}</a></li>
            <li><a class="dropdown-item" href="{{path("honor")}}">{{"honor"|trans}}</a></li>
            <li><a class="dropdown-item" href="{{path("thanks")}}">{{"thanks"|trans}}</a></li>
            <li><a class="dropdown-item" href="{{path("contact")}}">{{"contact"|trans}}</a></li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{{path("legal")}}">{{"legal"|trans}}</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{{path("actualites")}}">{{"news"|trans}}</a>
        </li>
     </ul>
  </div>

  <button class="navbar-toggler m-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="md-18 material-icons">
    menu
    </span>
  </button>
</div>

<a class="nav-link" id="account-btn" data-bs-toggle="modal" data-bs-target="#userModal">
    <img src="{{ asset('img/icons/profil.svg') }}" height="48px" width="48px"/>
</a>

<a class="nav-link"  id="locale-btn" data-bs-toggle="modal" data-bs-target="#localModal">
  <span class="md-18 material-icons">language</span>
</a>

<div class="modal" id="localModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <h1>{{"choose_language"|trans}}</h1>
        <p class="text-center">
          <a class="btn btn-golden" href="{{ path('app_change_locale', {'locale': 'fr'}) }}">{{"language_fr"|trans}}</a>
          <a class="btn btn-golden" href="{{ path('app_change_locale', {'locale': 'en'}) }}">{{"language_en"|trans}}</a>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="userModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <h1>{{"account"|trans}}</h1>
        <p>
        {% if is_granted('ROLE_USER') %}
        Connecté en tant que <a href="{{ path('app_user_edit') }}">{{ app.user.nickname }}</a> (<a class="link" href="{{ path('app_logout') }}">{{"logout"|trans}}</a>)
        <br class="mb-3"/>
        {% else %}
        <a class="link" href="{{ path('app_login') }}">{{"login"|trans}}</a>
        <br/>
        <a class="link" href="{{ path('app_register') }}" >{{"create_account"|trans}}</a>
        <br/>
        {% endif %}

        {% if is_granted('ROLE_ADMIN') %}
        <div class="text-start">
          <h1>Administration</h1>
          {% if instance == "prod" %}
          <p>
            <a class="link" href="{{path('admin_preprod_letters')}}">
              {{"load_from_preprod"|trans}}
            </a>
          </p>
          <p>
            <a class="link" href="{{path('person_cache_list')}}">
              {{"uiuc_cache_manage"|trans}}
            </a>
          </p>
          {% endif %}

          {% if is_granted('ROLE_SUPER_ADMIN') %}
          <p>
            <a class="link" href="{{path('admin_upload')}}">
              {{"upload"|trans}}
            </a>
          </p>
          <p>
            <a class="link" href="{{path('admin_upload_common')}}">
              {{"upload_common"|trans}}
            </a>
          </p>
          <p>
            <a class="link" href="{{path('admin_upload_edito')}}">
              {{"upload_edito"|trans}}
            </a>
          </p>
          <p>
            <a class="link" href="{{path('admin_users')}}">
              {{"users"|trans}}
            </a>
          </p>
          {% endif %}
        </div>
        {% endif %}

      </div>
    </div>
  </div>
</div>
