<ul class="nav nav-tabs nav-fill">
  <li class="nav-item">
    <a class="nav-link {{pos == "left" ? "active" : ""}}" data-bs-toggle="tab" data-bs-target="#image-{{pos}}" type="button" role="tab">
      {{"images"|trans}}
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link {{pos == "right" ? "active" : ""}}" data-bs-toggle="tab" data-bs-target="#transcription-{{pos}}" type="button" role="tab">
      {{"transcription"|trans}}
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-bs-toggle="tab" data-bs-target="#text-{{pos}}" type="button" role="tab">
      {{"text"|trans}}
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-bs-toggle="tab" data-bs-target="#notes-{{pos}}" type="button" role="tab">
      {{"notes"|trans}}
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-bs-toggle="tab" data-bs-target="#informations-{{pos}}" type="button" role="tab">
      {{"informations"|trans}}
    </a>
  </li>
  {% if is_granted('ROLE_ADMIN') %}
  <li class="nav-item d-none debug-related">
    <a class="nav-link" data-bs-toggle="tab" data-bs-target="#debug-{{pos}}" type="button" role="tab">
      <span class="md-24 material-icons">
        bug_report
      </span>
      (<span class="bug-count"></span>)
    </a>
  </li>
  {% endif %}
</ul>

<div class="tab-content" id="myTabContent">
  {# IMAGE #}
  {% include 'letter/partial/osd.html.twig' %}
  {# TRANSCRIPTION #}
  {% include 'letter/partial/diplo.html.twig' %}
  {# TRANSCRIPTION #}
  {% include 'letter/partial/text.html.twig' %}
  {# NOTES #}
  {% include 'letter/partial/notes.html.twig' %}
  {# INFORMATIONS #}
  {% include 'letter/partial/metadata.html.twig' %}
  {% if is_granted('ROLE_ADMIN') %}
    {# DEBUG #}
    {% include 'letter/partial/debug.html.twig' %}
  {% endif %}
</div>
