{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}
  CP-{{letter.proustId}}
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  {{ encore_entry_link_tags('letter') }}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {{ encore_entry_script_tags('letter') }}
{% endblock %}

{% block body %}
  <div id="letter" class="row" data-publishedids="{{publishedLetterIds|escape('html_attr') }}">
    <div class="col">
      <h1>
        {{title|raw}}
      </h1>
      {% if is_granted('ROLE_ADMIN') %}
      <a class="btn btn-sm btn-light" id="admin-panel-btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebar-info" aria-controls="sidebar-info">
        <span class="md-18 material-icons">build</span>
      </a>
      {% endif %}

      <div class="row">
          <div id="left-panel" class="col-md-6 col-sm-12 {{ (app.user and app.user.highlighting == 0) ? 'disabled-mark': ''}}">
            {% include "letter/display-panel.html.twig" with {'pos': 'left'} %}
          </div>
          <div id="right-panel" class="col {{ (app.user and app.user.highlighting == 0) ? 'disabled-mark': ''}}">
            {% include "letter/display-panel.html.twig" with {'pos': 'right'} %}
          </div>
      </div>
      {% include 'letter/display-infos.html.twig' %}

      <a id="top-btn" href="#top">
        <span class="md-18 material-icons">
        expand_less
        </span>
      </a>
      </div>
    </div>
    {% include 'letter/display-modal.html.twig' %}
{% endblock %}

{% block footer %}
{% endblock %}
