<div class="dropdown">
  <button class="btn btn-sm btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Actions
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li>
      <a class="dropdown-item" download="{{letter.originalFilename}}.xml" href="{{asset(letters_directory)~'/'~letter.filename}}">
        <span class="md-18 material-icons">download</span>
        {{"download"|trans}}
      </a>
    </li>
  </ul>
</div>
