{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}
  {{"search"|trans}}
{% endblock %}

{% block container %}container{% endblock %}

{% block body %}
  <div class="row">
    <div class="col">
      <h1>{{"search"|trans}}</h1>
      {{ form(form) }}
    </div>
  </div>
{% endblock %}

