{% extends "base.html.twig" %}

{% block title %}{{ parent() }}{{'news'|trans}}{% endblock %}

{% block container %}container text{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {{ encore_entry_script_tags('timeline') }}

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('timeline') }}
{% endblock %}


{% block body %}
    <div class="row">
      <div class="col">
        <h1>{{'news'|trans}}</h1>
          <div class="wrapper">
            <ol class="c-timeline">
            {% for post in rss.channel.item %}
            <li class="c-timeline__item">
              <div class="c-timeline__content">
                <time>{{post.pubDate|date("d/m/Y")}}</time>
                <p class="c-timeline__title">
                    {{post.title}}
                </p>
                <a class="btn news-link" target="_blank" href="{{post.link}}">
                  voir
                </a>
              </div>
            </li>
            {% endfor %}
            </ol>
          </div>
        </div>
    </div>
{% endblock %}
