{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{{"credits"|trans}}{% endblock %}

{% block container %}container{% endblock %}

{% block body %}
  <div class="row">
    <div class="col">
      
    </div>
  </div>
{% endblock %}
