{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{{"legal"|trans}}{% endblock %}

{% block container %}container text{% endblock %}

{% block body %}
  <div class="row">
    <div class="col">

      <h1>{{"credits"|trans}}</h1>
      <div>
        <p>
        Ce site et l’ensemble des textes qui y sont publiés (y compris le texte des lettres ou autres documents épistolaires et les notes critiques) sont proposés selon les termes de la <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Licence Creative Commons Attribution - Pas d’Utilisation Commerciale - Partage dans les Mêmes Conditions 4.0 International</a>.
        </p>
        <p>
          Les images numérisées sont la propriété des institutions ou des individus qui possèdent les documents originaux&nbsp;: elles sont publiées sur le site Corr-Proust avec leur autorisation. Voir dans l’onglet «&nbsp;Informations&nbsp;» de chaque document la rubrique «&nbsp;localisation&nbsp;».  La reproduction d’images appartenant à une institution est soumise aux conditions fixées par celle-ci. La reproduction d’images appartenant à des collections particulières est strictement interdite.

          <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
            <img alt="Licence Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png">
          </a>
        </p>
      </div>

      
      <h1>{{"legal"|trans}}</h1>
      <div>
        <h3>Responsable de la publication</h3>
        <div class="mb-3">
          <p>
          Yassine Lakhnech, président de l’Université Grenoble Alpes
          <br>
          UGA<br>
          CS 40700<br>
          38058 Grenoble cedex 9<br>
          presidence-universite@univ-grenoble-alpes.fr
          </p>
        </div>

        <h3>Responsable éditorial</h3>
        <div class="mb-3">
          <p>
          Françoise Leriche, responsable scientifique du projet Corr-Proust<br>
          françoise.leriche@univ-grenoble-alpes.fr
          </p>
        </div>

        <div class="mb-3">
          <h3>Hébergeur</h3>
          <p>
          TGIR Huma-Num - UMS 3598<br>
          54 Boulevard Raspail<br>
          75006 Paris<br>
          <a target="_blank" href="http://www.huma-num.fr">http://www.huma-num.fr</a><br>
          cogrid@huma-num.fr<br>
          </p>
        </div>

        <div class="mb-3">
          <h3>Éditeur du site</h3>
          <p>
          ELAN - UMR 5316 Litt&amp;Arts<br>
          Université Grenoble Alpes / CNRS<br>
          CS 40700 - 38058 Grenoble cedex 9<br>
          <a target="_blank" href="http://www.elan-numerique.fr/">http://www.elan-numerique.fr/</a><br>
          litt-et-arts-elan@univ-grenoble-alpes.fr
          </p>
        </div>

        <div class="mb-3">
          <h3>Limitation de responsabilité</h3>
          <p>
          Malgré les soins apportés à la réalisation du site et sa mise à jour régulière, la responsabilité des éditeurs ne peut être engagée suite à d’éventuelles erreurs ou omissions dans le contenu publié.
          </p>
        </div>

        <div class="mb-3">
          <h3>Données personnelles</h3>
          <p>
          Conformément à Loi n°78-17 du 6 janvier 1978 modifiée relative à l’informatique, aux fichiers et aux libertés modifiée notamment par la loi n°2018-493 du 20 juin 2018 relative à la protection des données personnelles ainsi qu’au règlement général sur
          la protection des données (RGPD)., vous disposez d’un droit d’information, d’accès, de rectification et de suppression des données nominatives vous concernant.<br>
          Vous pouvez l’exercer par mail en écrivant à ELAN&nbsp;: litt-et-arts-elan@univ-grenoble-alpes.fr ou au délégué à la protection des données (DPO) de l’UGA&nbsp;: relaisdpo@univ-grenoble-alpes.fr ou encore le DPD du CNRS à l’adresse suivante :<br>
          DPD (déléguée à la protection des données), 17, rue notre Dame des Pauvres,<br>
          54 519 VANDOEUVRE LÈS NANCY Cedex.
          </p>
        </div>

        <div class="mb-3">
          <h3>Qui est concerné&nbsp;?</h3>
          <p>
          Les personnes disposant d’un compte utilisateur sont concernées par le traitement de données personnelles.
          </p>
        </div>

        <div class="mb-3">
          <h3>Quelles données traitons-nous&nbsp;?</h3>
          <p>
            Les données personnelles que nous traitons sont celles complétées par l’utilisateur lors de son inscription&nbsp;: courriel et nom d’utilisateur.<br>
            De plus, conformément à l’Art. 6-II de la loi n°2004-575 du 21 juin 2004 pour la confiance dans l’économie numérique ; décret n°2011-219 du 25 février 2011 relatif à la conservation et à la communication des données des journaux, nous conservons les
            journaux de connexion pendant une durée minimale d’un an.
          </p>
        </div>

        <div class="mb-3">
          <h3>Pendant combien de temps les conservons-nous&nbsp;?</h3>
          <p>
          Vos données personnelles sont conservées pendant trois ans après la dernière activité du compte sur le site.
          </p>
        </div>

        <div class="mb-3">
          <h3>Quels sont vos droits&nbsp;?</h3>
          <p>
          Vous pouvez à tout moment, en nous contactant exercer les droits d’opposition, d’accès, de rectification, d’effacement, ainsi que le droit à une utilisation restreinte lorsque les données ne sont pas nécessaires ou ne sont plus utiles et le droit à
          la portabilité.
          </p>
        </div>

      </div>

    </div>
  </div>
{% endblock %}
