{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Création de compte{% endblock %}

{% block container %}container{% endblock %}

{% block body %}
<div class="row">
  <div class="col">
    <h1>{{"create_account"|trans}}</h1>
    {{ form_start(registrationForm) }}

        <div style="display:none">
          {{ form_row(registrationForm.username, {
            label: 'username'
          }) }}
          {{ form_row(registrationForm.mail, {
            label: 'mail'
          }) }}
        </div>

        {{ form_row(registrationForm.nickname, {
          label: 'username'
        }) }}

        {{ form_row(registrationForm.email) }}

        {{ form_row(registrationForm.plainPassword, {
            label: 'password'
        }) }}

        {{ form_row(registrationForm.agreeTerms, {
            label: 'accept_terms'
        }) }}

        <button type="submit" class="btn btn-blue">
          {{"create_account"|trans}}
        </button>
    {{ form_end(registrationForm) }}
  </div>
</div>
{% endblock %}
