<div class="tab-pane fade {{pos == "right" ? "show active" : ""}} transcription-pane" id="transcription-{{pos}}" role="tabpanel">
  <span class="btn toggle-mark" data-pos="{{pos}}">
  {{"highlighting"|trans}}
  </span>
  {{diplo|raw}}
</div>
