<div class="tab-pane fade" id="informations-{{pos}}" role="tabpanel" aria-labelledby="informations-tab">
  {{ include(template_from_string(metadata)) }}


  <div class="letter-publication-date">
    {{"publication_date" | trans }} : {{ letter.creationDate | date }} <br/>
    {{"update_date" | trans }} : {{ letter.updateDate | date }} <br/>
  </div>
</div>
