{# IMAGE #}
<div class="tab-pane fade osd-pane {{pos == "left" ? "show active" : ""}}" id="image-{{pos}}" role="tabpanel" aria-labelledby="image-tab">
    <div class="osd-pane-content" id="osd-pane-content-{{pos}}">
      <div class="img-thumbnails">
      {{ include(template_from_string(facs)) }}
      </div>
      <div class="osd-btn text-center">

        <span id="osd-zoom-in-{{pos}}">
          <img src="{{ asset('img/icons/plus.svg') }}"/>
        </span>

        <span id="osd-zoom-out-{{pos}}">
          <img src="{{ asset('img/icons/moins.svg') }}"/>
        </span>

        <span id="osd-home-{{pos}}">
          <img src="{{ asset('img/icons/home.svg') }}"/>
        </span>

        <span id="osd-full-page-{{pos}}">
          <img src="{{ asset('img/icons/agrandir.svg') }}"/>
        </span>

        <span id="osd-left-{{pos}}">
          <img src="{{ asset('img/icons/left.svg') }}"/>
        </span>

        <span id="osd-right-{{pos}}">
          <img src="{{ asset('img/icons/right.svg') }}"/>
        </span>

      </div>
      <div class="openseadragon" id="openseadragon-{{pos}}"></div>
      <div class="img-source" id="img-source-{{pos}}"></div>
    </div>
</div>
