@import "~bootstrap/scss/bootstrap";
@import '~material-icons/iconfont/material-icons.css';
@font-face {
  font-family: "Mohave";
  src: url("../fonts/Mohave-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Alegreya';
  src: url("../fonts/Alegreya-VariableFont_wght.woff") format('woff');
  font-style: normal;
  font-weight: normal;
}
$mohave: "Mohave", Calibri, Tahoma, sans-serif !important;
$alegreya: "Alegreya", Calibri, Tahoma, sans-serif !important;

:root {
  --main-blue: #005d95;
  --golden: #927c26;
  --golden-transp: #927c2660;
}

.preprod {
  --main-blue: #729226;
}

body,
html {
  font-family: $alegreya;
  height: 100%;
  font-size: 14.5px;
}
/******************* PAGE "TEXTUELLES" ********/
@media (min-width: 1024px) {
  .container.text {
    p {
      width: 70% !important;
      margin-right: 30% !important;
      text-align: justify;
    }

    h2,
    h3,
    h4,
    ul {
      width: 70% !important;
      margin-right: 30% !important;
    }
  }
}

.container.text {
  font-size: 1.5rem;

  p {
    text-align: justify;
  }

  .chapeau {
    font-size: 2rem;
    color: var(--main-blue);
    margin-bottom: 3rem;
  }

  h3 {
    font-size: 2rem;
    font-family: $mohave;
    text-transform: uppercase;
    margin-top: 25px;
    margin-bottom: 25px;
    font-weight: bold;
  }

  h4 {
    margin-top: 25px;
    margin-bottom: 25px;
    font-weight: bold;
    font-size: 1.7rem;
  }
}
/***************************/
/******************* SCROLLBAR ********/
* {
  scrollbar-width: auto;
  scrollbar-color: var(--golden) white;
}

*::-webkit-scrollbar {
  width: 4px;
  background: white;
}

*::-webkit-scrollbar-track {
  background: var(--blue);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--golden);
}
/******************* END SCROLLBAR ****/
#main-container {
  padding-top: 10px;
}

#secondary-navbar {
  background-color: white;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: $mohave;
  font-size: 1.6rem !important;
  margin-top: 1rem;

  .nav-link {
    font-family: $mohave;
    color: var(--golden);
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    padding: 0.2rem 0.7em;
  }

  .link:hover {
    cursor: pointer;
    cursor: hand;
  }

  .dropdown-menu {
    li {
      border-width: 1px 2px;
      border-style: solid;
      border-color: var(--main-blue);

      .dropdown-item {
        padding: 0.5rem 1.2rem;
        font-family: $mohave;
        font-size: 1.5rem !important;
        color: var(--golden);
      }
      @media (max-width: 767px) {
        .dropdown-item {
          text-align: center;
        }
      }

      .dropdown-item:hover {
        color: white;
        background-color: var(--main-blue);
      }
    }

    li:first-of-type {
      border-width: 2px 2px 1px 2px;
    }

    li:last-of-type {
      border-width: 1px 2px 2px 2px;
    }
  }

  .dropdown-toggle::after {
    margin-left: 0 !important;
  }

  .dropdown-menu {
    border: none;
    padding: 0 !important;
  }
}

.navbar-toggler .material-icons {
  color: var(--golden);
}

#account-btn {
  cursor: pointer;
  cursor: hand;
  color: var(--main-blue) !important;
  position: absolute;
  top: -7px;
  left: -7px;
}

#locale-btn {
  left: 8px;
  top: 25px;
  cursor: pointer;
  cursor: hand;
  color: var(--main-blue) !important;
  position: absolute;
}

#logos {
  position: absolute;
  top: 40px;
  right: 10px;
  width: 60px;
  text-align: center;
}

#logos a {
  margin-bottom: 30px;
  display: block;
}

#logos img {
  max-width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@media (max-width: 767px) {
  #secondary-navbar {
    text-align: center;
  }
}
@media (max-width: 576px) {
  #logos {
    display: none;
  }

  #secondary-navbar .link {
    margin: 20px;
  }
}
@media (min-width: 577px) and (max-width: 1023px) {
  #logos {
    width: 30px;
  }

  #secondary-navbar {
    font-size: 1.6rem !important;
  }

  #secondary-navbar .nav-link {
    padding: 0.2rem 0.7em;
  }
}
@media (min-width: 1024px) and (max-width: 1499px) {
  #logos {
    width: 45px;
  }

  #secondary-navbar {
    font-size: 1.7rem !important;
  }

  #secondary-navbar .nav-link {
    padding: 0.2rem 0.8em;
  }
}
@media (min-width: 1500px) {
  #logos {
    width: 60px;
  }

  #secondary-navbar {
    font-size: 1.8rem !important;
  }

  #secondary-navbar .nav-link {
    padding: 0.2rem 0.9em;
  }
}

#main-img {
  margin-top: 10px;
  height: 80vh;
  max-width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#main-img img,
#main-img source {
  max-width: 100%;
  min-height: 80vh;
  height: 80vh;
  max-height: 80vh;
}

.material-icons {
  vertical-align: middle;
}

.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}

h1 {
  text-transform: uppercase;
  color: var(--main-blue);
  border-bottom: 1px solid var(--main-blue);
  margin-bottom: 30px !important;
  margin-top: 20px !important;
  font-size: 4rem !important;
  font-family: $mohave;
}
@media (max-width: 800px) {
  h1 {
    font-size: 3rem !important;
    margin-top: 10px !important;
  }
}

.modal-backdrop {
  opacity: 0.3 !important;
}

#userModal {
  text-align: left;
  font-size: 1.5rem;

  a {
    color: var(--golden) !important;
    margin-bottom: 8px;
    // text-decoration: none;
  }
}

.modal-dialog {
  border: 3px solid var(--main-blue);

  .modal-content {
    border-radius: 0;
    border: 0;

    h1 {
      margin-top: 25px !important;
      margin-bottom: 25px !important;
      font-size: 2.5rem !important;
    }
  }
}

.btn {
  border-radius: 0 !important;
}

.btn-blue {
  background-color: var(--main-blue);
  color: white;
}

.btn-golden {
  background-color: var(--golden);
  color: white;
}

.person-popover {
  cursor: help;
}

.popover-container {
  font-family: $alegreya;
  color: black;
  font-size: 1.5rem;

  .popover-name {
    font-family: $mohave;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: var(--main-blue);
  }
}
