$mohave: "Mohave", Calibri, Tahoma, sans-serif !important;

[v-cloak] {
  display: none;
}

#search-box {
  position: sticky;
  top: 10px;
  margin-right: 10px;

  #range {
    margin: 10px;
  }

  #text-range {
    text-align: center;
    font-size: 1.5rem !important;
    color: var(--golden);
    font-family: $mohave;

    span {
      margin: 0 8px;
    }
  }

  h2 {
    font-size: 2.5rem !important;
    font-family: $mohave;
    color: var(--golden);
  }

  #filters-container {
    border-radius: 2px;
    padding: 5px 20px 20px;
    border: 2px solid var(--golden);
    border-radius: 0.3rem;
  }

  .filter-criteria {
    font-size: 1.6rem;
    color: var(--golden);
    margin-top: 20px;
  }
}

.letters-list {
  @media (min-width: 780px) {
    padding-left: 10%;
  }
  @media (max-width: 780px) {
    padding-top: 8%;
  }

  .letter {
    margin-bottom: 1.5rem;
    line-height: 1.35;
  }

  .letter[data-published='0'] {
    color: lightgrey;

    .badge,
    .cp {
      background-color: lightgrey !important;
      color: white !important;
    }
  }

  .cp {
    font-size: 1.5rem;
    color: white;
    background-color: var(--main-blue);
    border-radius: 0;
    padding-top: 1px;
    padding-bottom: 1px;
  }

  .cp:hover {
    background-color: var(--golden);
    color:white;
  }

  .letter-badges {
    font-size: 1.3rem;
    padding-left: 2rem !important;
  }

  .letter-badge {
    background-color: var(--golden-transp);
    margin-right: 2px;
    border-radius: 2px;
  }

  .letter-ppl {
    font-weight: bold;
    font-size: 1.7rem;
  }

  .letter-date {
    font-size: 1.7rem;
    color: grey;
  }

  .letter-badges,
  .letter-date,
  .letter-ppl {
    padding-left: 2rem;
    font-family: $mohave;
  }
}
