$mohave: "Mohave", Calibri, Tahoma, sans-serif !important;
$alegreya: "Alegreya", Calibri, Tahoma, sans-serif !important;
/**** METADATAS **********/
.tab-content {
  .accordion-body {
    padding-top: 0;
  }

  .accordion-button:not(.collapsed) {
    background-color: transparent;
  }

  .metadata-group-title .accordion-button {
    color: var(--golden);
    font-size: 1.8rem !important;
  }

  .accordion-item button {
    box-shadow: none !important;
  }

  .letter-publication-date {
    background-color: white;
    color: var(--golden);
    padding: 0 12px;
    border: 1px solid var(--golden);
  }

  .letter-badges {
    margin-bottom: 32px;
    text-align: center;
    font-size: 1.8rem;

    h2 {
      color: var(--main-blue);
    }

    span:not(.letter-badge) {
      display: block;
    }

    .letter-badge {
      font-size: 1.5rem;
      border-radius: 0;
      background-color: var(--golden);
      color: white;
      margin-right: 12px;
      margin-bottom: 4px;
    }
  }
}
/************************/
/******* MARK ***************/
.btn.toggle-mark {
  font-size: 1rem !important;
  font-family: $mohave !important;
  border: 1px solid var(--golden-transp) !important;
  background-color: var(--golden-transp) !important;
  color: grey !important;
  padding: 1px 4px;
}

.disabled-mark .toggle-mark {
  background-color: white !important;
  color: grey !important;
}

mark {
  background-color: #ded8be;
  padding: 0;
  margin: 0 1px;
}

.disabled-mark mark {
  background-color: transparent !important;
}
/************************/
.custom-popover {
  --bs-popover-max-width: 300px;
  --bs-popover-border-color: var(--golden);
  --bs-popover-header-bg: var(--golden);
  --bs-popover-arrow-border: var(--golden);
  --bs-popover-border-radius: 0;

  .popover-name {
    text-transform: none !important;
  }
}
@media (max-width: 576px) {
  .img-thumbnails {
    padding-left: 4px;
  }

  .img-thumbnail {
    border: 1px solid lightgrey;
    padding: 0;
    height: 36px;
    width: 27px;
    object-fit: cover;
    margin-top: 2px;
    margin-right: 2px;
  }
}
@media (min-width: 577px) and (max-width: 1023px) {
  .img-thumbnails {
    padding-left: 4px;
  }

  .img-thumbnail {
    border: 1px solid lightgrey;
    padding: 0;
    height: 45px;
    width: 30px;
    object-fit: cover;
    margin-top: 2px;
    margin-right: 2px;
  }
}
@media (min-width: 1024px) {
  .img-thumbnails {
    padding-left: 8px;
  }

  .img-thumbnail {
    border: 1px solid lightgrey;
    padding: 0;
    height: 60px;
    width: 45px;
    object-fit: cover;
    margin-top: 4px;
    margin-right: 4px;
  }
}

.img-thumbnail:not([src]) {
  display: none;
}

.img-source {
  color:grey;
  text-align: center;
}

.current-page-text {
  background-color: rgb(0, 93, 149, 0.06);
}

hr {
  color: var(--golden);
}

.text-pane hr {
  display: none;
}

.img-thumbnail.current {
  border: 2px solid var(--main-blue);
}

.openseadragon {
  margin: 10px auto 0;
  width: 100%;
  height: 80vh;
  border: 0 solid lightgrey;
}
@media (orientation: landscape), (min-width: 768px) {
  .scrolled .osd-pane-content {
    margin-top: 10px;
    position: fixed;
    top: 0;
    width: 48%;
    background-color: white;
    border: 1px solid var(--golden);
  }

  .scrolled #osd-pane-content-left {
    left: 1%;
  }

  .scrolled #osd-pane-content-right {
    right: 1%;
  }

  .scrolled .osd-pane {
    border: none !important;
  }
}

#letter h1 {
  font-family: $mohave;
  text-align: center;
  font-size: 2rem !important;
  background-color: white;
  color: black;
  margin-top: 20px !important;
  border: none;
  text-transform: none;
}

#letter #cp {
  font-family: $alegreya;
  font-size: 2rem;
  color: white;
  background-color: var(--main-blue);
  border-radius: 2px;
  display: inline-block;
  line-height: 1.2;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 1rem;
  margin-right: 2rem;
}

.nav-link:hover {
  border-color: transparent !important;
}

#letter #date {
  color: grey;
}

h1 #date {
  // display: block;
  padding-left: 2rem;
}

#letter .nav-link {
  font-family: $mohave;
  font-size: 1.5rem;
  background-color: white;
  color: var(--main-blue);
  user-select: none;
  font-weight: bold;
}

#letter .nav-link.active {
  color: white;
  background-color: var(--main-blue);
  border-radius: 0 !important;
  border-color: var(--main-blue);
}

#letter .tab-pane {
  font-size: 1.3rem;
  border: 1px solid var(--main-blue);
  border-top: 2px solid var(--main-blue);
  padding: 4px;
  min-height: 100vh;
  margin-bottom: 10px;
  line-height: 1.6;
}

#letter .nav-tabs {
  border: 0;
  border-radius: 0 !important;

  .nav-item,
  .nav-link {
    border-radius: 0 !important;
  }
}

#letter .nav-link.active {
  border-color: var(--main-blue);
}

#letter .osd-btn {
  margin-top: 10px;
  border-top: 1px solid var(--golden);
  border-bottom: 1px solid var(--golden);

  span {
    @media (max-width: 576px) {
      img {
        width: 32px;
        height: 32px;
      }
    }
    @media (min-width: 577px) and (max-width: 1023px) {
      img {
        width: 48px;
        height: 48px;
      }
    }
    @media (min-width: 1024px) {
      img {
        width: 64px;
        height: 64px;
      }
    }
  }
}

#letter .note-call {
  text-decoration: none;
  font-style: normal;
  cursor: pointer;
  background-color: var(--golden);
  border-radius: 50%;
  padding: 1px 8px;
  color: white;
  font-family: $mohave;
  font-size: 1rem;
}

#letter .note-call-other {
  background-color: white;
  padding: 2px 10px;
  color: var(--golden);
  border: 1px solid var(--golden);
}

#letter .trait-proustien {
  color: black !important;
  width: 80%;
  margin: 5px 10%;
  opacity: 1;
}

.note_critique {
  margin-bottom: 1rem;

  .note_id {
    font-family: $mohave;
    font-weight: bold;
    font-size: 1.6rem !important;
    color: var(--golden) !important;
    padding: 0 !important;
  }

  .note_content {
    line-height: 2rem;
    text-align: justify;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    // /* This is the dangerous one in WebKit, as it breaks things wherever */
    // word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;
    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
}

.note-other-content {
  margin-top: 30px;
}

.note-content {
  text-align: justify;
  font-size: 1.5rem;
  margin-bottom: 30px;
  overflow-x: hidden;
}

.note-content a,
.note_content a {
  color: var(--main-blue) !important;
  text-decoration: none !important;
}

.note-content a.disabled,
.note_content a.disabled {
  color: inherit !important;
  text-decoration: inherit !important;
}

.note-content a:hover,
.note_content a:hover {
  text-decoration: underline !important;
}

.note-content a.disabled:hover,
.note_content a.disabled:hover {
  text-decoration: inherit !important;
  pointer: inherit !important;
}

#letter .osd-btn button.btn {
  color: var(--golden);
  background-color: transparent;
}

#admin-panel-btn {
  position: absolute;
  top: 5px;
  right: 5px;
}

#letter .tab-pane.text-pane,
#letter .tab-pane.transcription-pane {
  padding: 5px 40px;
}

#letter .tab-pane.transcription-pane {
  .manuscrit {
    font-style: italic;
  }

  .printed {
    font-family: "Courier New";
  }

  .droit {
    font-style: normal;
  }

  .dactylo {
    font-family: "Courier New";
    font-style: normal;
  }

  .c-violet {
    color: #56446e;
  }

  .c-rouge {
    color: #b52d32;
  }

  .c-vert {
    color: #023c14;
  }

  .c-bleu {
    color: #2b267a;
  }

  .c-gris {
    color: #545358;
  }
  
  .interlinear-add {
    margin-right: -1em;
    font-size: 90%;
    display: inline-block;
    -ms-transform: skewY(-2deg) translate(0px, -12px); /* IE 9 */
    -webkit-transform: skewY(-2deg) translate(0px, -12px); /* Safari 3-8 */
    transform: skewY(-2deg) translate(0px,-12px);
  }

  .interlinear-add + .note-call {
    margin-left: 1em;
  }
  
  .deleted-text {
    color: grey;
  }
  
}
@media (max-width: 767px) {
  #right-panel {
    display: none !important;
  }

  #cp {
    margin-bottom: 5px;
  }

  #date {
    display: block !important;
  }
}
@media (orientation: portrait) and (max-width: 576px) {
  #letter .tab-pane.notes-pane,
  #letter .tab-pane.text-pane,
  #letter .tab-pane.transcription-pane {
    padding: 0.5rem 1.5rem;
  }
}
@media (orientation: landscape) and (min-width: 577px) and (max-width: 1023px) {
  #letter .tab-pane.notes-pane,
  #letter .tab-pane.text-pane,
  #letter .tab-pane.transcription-pane {
    padding: 0.5rem 3rem;
  }
}
@media (orientation: landscape) and (min-width: 1024px) {
  #letter .tab-pane.notes-pane,
  #letter .tab-pane.text-pane,
  #letter .tab-pane.transcription-pane {
    padding: 0.5rem 4rem;
  }
}

#sidebar-info {
  font-size: 1.3rem !important;

  .card-title {
    font-family: $mohave;
  }

  h1 {
    color: var(--main-blue) !important;
    font-size: 2rem !important;
    margin: 0 !important;
  }

  .btn {
    font-size: 1.3rem !important;
  }
}

#top-btn {
  display: none;
  position: fixed;
  bottom: 18px;
  right: 18px;
  padding: 10px;
  background-color: white;
  border: 1px solid var(--golden) !important;
  color: 1px solid var(--golden) !important;
}

.scrolled #top-btn {
  display: inline;
}
/****************
      debug
****************/
.debug-info {
  font-size: 1.5rem;
}
