$mohave: "Mohave", Calibri, Tahoma, sans-serif !important;

[v-cloak] {
  display: none;
}

#cy,
#cy2 {
  width: 100%;
  height: 1000px;
  display: block;
  border-radius: 0.3rem;
}

#filters {
  position: sticky;
  top: 10px;
  border-radius: 2px;
  padding: 10px 20px 20px;
  border: 2px solid var(--golden);
  border-radius: 0.3rem;

  input[type="number"],
  input[type="text"] {
    max-width: 80%;
    display: block;
  }

  #collapsePeopleBtn {
    background-color: var(--main-blue);
  }
}
