$mohave: "Mohave", Calibri, Tahoma, sans-serif !important;
$alegreya: "Alegreya", Calibri, Tahoma, sans-serif !important;

.news-link {
    background-color:var(--main-blue);
    color:white;
}

.news-link:hover {
    background-color:var(--golden);
}

.c-timeline__item {
  position: relative;
  display: flex;
  gap: 1.5rem;
}

.c-timeline__item:last-child .c-timeline__content {
  padding-bottom: 0;
}

.c-timeline__item:last-child .c-timeline__content:before {
  display: none;
}

.c-timeline__content {
  flex: 1;
  position: relative;
  order: 1;
  padding-left: 1.5rem;
  padding-bottom: 3rem;
}

.c-timeline__content:before {
  content: "";
  position: absolute;
  right: 100%;
  top: 0;
  height: 200%;
  width: 2px;
  background-color: var(--golden);
}

.c-timeline__content:after {
  content: "";
  position: absolute;
  left: -11px;
  top: 50px;
  width: 20px;
  height: 20px;
  background-color: var(--golden);
  z-index: 1;
  border: 1px solid lightgrey;
  border-radius: 50%;
}

.c-timeline__title {
  font-family: $alegreya;
  font-size: 2.2rem;
  margin-bottom: max(0.25rem, 0.5cqw + 4px);
}

.c-timeline__desc {
  color: grey;
}

time {
  font-family: $mohave;
  font-size: 1.3rem;
  text-align: end;
  flex: 0 0 100px;
  min-width: 0;
  overflow-wrap: break-word;
  padding-bottom: 1rem;
}

@container timeline (inline-size > 400px) {
  .c-timeline__item {
    padding-left: 100px;
  }

  .c-timeline__item time {
    position: absolute;
    right: 100%;
    width: 100px;
    padding-right: 20px;
  }

  .c-timeline__content:after {
    left: -9px;
    width: 16px;
    height: 16px;
  }
}

@container timeline (inline-size > 800px) {
  .c-timeline {
    display: flex;
    justify-content: center;
  }

  .c-timeline__item {
    gap: 0;
    flex: 1;
    padding-left: 0;
    flex-direction: column;
    align-items: center;
  }

  .c-timeline__item:not(:last-child):before {
    content: "";
    position: relative;
    left: 50%;
    top: 25px;
    height: 2px;
    width: 100%;
    background-color: lightgrey;
  }

  .c-timeline__item:after {
    content: "";
    width: 50px;
    height: 50px;
    background-color: #fff;
    z-index: 1;
    border: 2px solid lightgrey;
    border-radius: 50%;
  }

  .c-timeline__item time {
    display: inline-block;
    position: initial;
    width: initial;
    padding-right: 0;
    padding-bottom: 0;
    margin-bottom: 0.5rem;
  }

  .c-timeline__content {
    padding-left: 0;
    padding-top: 10px;
    padding-bottom: 0;
    text-align: center;
  }

  .c-timeline__content:before, .c-timeline__content:after {
    display: none;
  }
}
